@model int




<div class="container py-4 d-flex flex-column align-items-center">
    <h1 class="text-primary text-center mb-4">Form Submitted Successfully!</h1>
    <!-- Placeholder for dynamic order number -->
    <!-- <p class="text-center fw-bold">Your Order Number is: @Model</p> -->

    <img src="~/images/payment2.png" alt="Payment Confirmation" class="img-fluid" style="max-width: 65%;" />

    <div class="text-center mt-4" style="color: maroon;">
        <p>You will receive a response soon.</p>
    </div>
</div>
